---
layout: page
title: Blog
nav_order: 1
---
<h7 style="display: block; margin-bottom: 1.5rem;"> Basically just dumping whatever’s rattling around in my brain here, partly to relieve the pressure on my poor neurons, partly to give these ideas somewhere roomier to bounce around.
</h7>

<div class="tags-expo-section">
  <ul class="tags-expo-posts">
    {% for post in site.posts %}
    {% if post.url contains "/writing/" %}
    <a class="post-title" href="{{ post.url }}">
      <li>
        <p>
          {{ post.title }} <small class="post-date">{{ post.date | date_to_string }}</small>

        </p>
      </li>
    </a>
    {% endif %}
    {% endfor %}
  </ul>
</div>
