---
layout: page
title: Blog
---
<p class="message">
    ⚠️ Page still under construction 🐢 🏗
</p>
<h5>A collection of relatively short posts summarizing my notes of selected literature papers. </h5>

<div class="tags-expo-section">
    {% for tag in site.tags %}
    <h2 id="{{ tag[0] | slugify }}">{{ tag | first }}</h2>
    <ul class="tags-expo-posts">
      {% for post in tag[1] %}
        <a class="post-title" href="{{ post.url }}">
      <li>
        <p>
            {{ post.title }}  <small class="post-date">{{ post.date | date_to_string }}</small>

        </p>
      </li>
      </a>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>

