---
layout: page
title: My Posters 
---
<h7>A list of posters I have presented at conferences and symposiums.
</h7>

<div class="tags-expo-section">
  {% assign sorted_tags = site.tags | sort %}
  {% for tag in sorted_tags %}
  {% if tag[0] == "ZNZ Symposiums" or  tag[0]== "ISEK" %}
  <h3 id="{{ tag[0] | slugify }}">{{ tag | first }}</h3>
  <ul class="tags-expo-posts">
    {% for post in tag[1] %}
    <a class="post-title" href="{{ post.url }}">
      <li>
        <p>
          {{ post.title }} <small class="post-date">{{ post.date | date_to_string }}</small>

        </p>
      </li>
    </a>
    {% endfor %}
  </ul>
  {% endif %}
  {% endfor %}
</div>