---
layout: page
title: Literature Review
---

<h7>My notes on selected papers. I am intending to post more polished version and complete literature once I start working on my thesis introduction chapter. </h7>

<div class="tags-expo-section">
  {% assign sorted_tags = site.tags | sort %}
  {% assign tag_log = "Capocaccia'22 Project" %}
  {% for tag in sorted_tags %}
  {% if tag[0] != tag_log and tag[0] == "ANN to SNN Conversion" or tag[0]=="Learning algorithms for SNN" or tag[0]=="Neuron models approximated with a form of ADM" or tag[0]=="Proportional prosthesis control" or tag[0]=="Motor units"%}

  <h3 id="{{ tag[0] | slugify }}">{{ tag | first }}</h3>
  <ul class="tags-expo-posts">
    {% for post in tag[1] %}
    <a class="post-title" href="{{ post.url }}">
      <li>
        <p>
          {{ post.title }} <small class="post-date">{{ post.date | date_to_string }}</small>

        </p>
      </li>
    </a>
    {% endfor %}
  </ul>
  {% endif %}
  {% endfor %}
</div>