---
layout: page
title: Literature Review
---
<!--<p class="message">-->
<!--    ⚠️ Page still under construction 🐢 🏗-->
<!--</p>-->
<h7>My notes on selected literature papers. </h7>

<div class="tags-expo-section">
    {% assign sorted_tags = site.tags | sort %}
     {% assign tag_log = "Capocaccia'22 Project" %}
    {% for tag in sorted_tags %}
    {% if tag[0]  != tag_log and tag[0] != "ICL Project"%}
    <h3 id="{{ tag[0] | slugify }}">{{ tag | first }}</h3>
    <ul class="tags-expo-posts">
      {% for post in tag[1] %}
        <a class="post-title" href="{{ post.url }}">
      <li>
        <p>
            {{ post.title }}  <small class="post-date">{{ post.date | date_to_string }}</small>

        </p>
      </li>
      </a>
      {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
  </div>

